#Pesquisa h6 {
    text-align: center;
    text-decoration: none;
    font-style: italic;
    
}
#Pesquisa {
    background-color: rgb(165, 158, 231);
    margin: 0;
    padding: 10px;
}
    